@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Antonio:</strong>   <a href="mailto:Support@example.com">aluno20628@ipt.pt</a><br />
    <strong>Tomas:</strong> <a href="mailto:Marketing@example.com">aluno20@ipt.pt</a>
</address>