@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tomar<br />
    <br />
    <abbr title="Telefone">P:</abbr>
    xxxxxxxxx
</address>

<address>
    <strong>Antonio:</strong>   <a href="mailto:Support@example.com">Antonio@example.com</a><br />
    <strong>Tomas:</strong> <a href="mailto:Marketing@example.com">Tomas@example.com</a>
</address>