@{
    ViewBag.Title = "Home Page";
}


<center><img src="../imagens/Home.jpg"></center>

<div class="row">
    <div class="col-md-4">
        <h2>Temos Mangá!</h2>
        <p>
            Manga (漫画 mangá) são quadrinhos ou graphic novels criados no Japão ou por criadores no idioma japonês, em conformidade com um estilo desenvolvido no Japão no final do século XIX.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Temos Light Novels!</h2>
        <p>Um romance leve (ル イ ト ノ ル raito noberu) é um estilo de romance japonês voltado principalmente para alunos do ensino secundario e do ensino médio (demografia para jovens adultos). "Light novel" é um wasei-eigo, ou termo japonês formado a partir de palavras no idioma inglês.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Temos Figuras de Açao!</h2>
        <p>Uma figura de ação é um boneco de personagem feito normalmente de plástico, e frequentemente baseado em personagens de um filme, quadrinhos, militar, videojogos ou programas de televisão - fictício ou histórico. Estes números são geralmente comercializados para colecionadores de meninos e adultos.</p>
    </div>
</div>